node_modules
.env
.env.*
coverage
coverage.json
typechain
typechain-types

# Hardhat files
cache
artifacts
forge-cache
out
bin
cache_hardhat

contracts/hardhat-dependency-compiler
.vscode
cloc.md
site
docs
dist
